Repository obouhlel/Safetious: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Remove the README.md
  README.md
Due: prettier --write

Remove line deprecated in husky
  .husky/pre-commit
Due: none

Remove index.ts at root
  index.ts
Due: prettier --write, eslint --fix

Improve .gitignore with React Native and monorepo patterns
  .gitignore
Due: none

Simplify mobile TypeScript configuration for better IDE support
  apps/mobile/tsconfig.json
Due: prettier --write

Configure separate builds for mobile app (Android + iOS)
  apps/mobile/app.json
  apps/mobile/package.json
Due: prettier --write

Remove empty README files from apps and packages
  apps/api/README.md
  apps/mobile/README.md
  packages/shared/README.md
Due: prettier --write

Ignore target file in Rust
  .gitignore
Due: none

Setup Cargo.lock for CLI
  tools/cli/Cargo.lock
Due: none

Update the tsconfigs for project
  apps/api/tsconfig.json
  apps/web/tsconfig.app.json
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
Due: prettier --write

Setup a Makefile at the root of project
  Makefile
Due: none

Remove the Makefile
  Makefile
Due: none

Setup ORM Drizzle in the project
  .env.example
  apps/api/.dockerignore
  apps/api/Dockerfile
  apps/api/drizzle.config.ts
  apps/api/index.ts
  apps/api/package.json
  apps/api/src/db/index.ts
  apps/api/src/db/schemas/index.ts
  apps/api/src/db/schemas/users.ts
  bun.lock
  compose.yaml
  package.json
  scripts/init-db.sql
Due: prettier --write, eslint --fix

Setup a clean architecture for api and setup a docs
  apps/api/index.ts
  apps/api/package.json
  apps/api/src/app.ts
  apps/api/src/config/env.ts
  apps/api/src/controllers/base.controller.ts
  apps/api/src/controllers/index.ts
  apps/api/src/db/index.ts
  apps/api/src/db/schemas/users.ts
  apps/api/src/index.ts
  apps/api/src/middleware/database.middleware.ts
  apps/api/src/repositories/base.repository.ts
  apps/api/src/repositories/index.ts
  apps/api/src/routes/index.ts
  apps/api/src/services/base.service.ts
  apps/api/src/services/index.ts
  apps/api/src/types/index.ts
  apps/api/src/utils/index.ts
  docs/clean-architecture-api.md
Due: prettier --write, eslint --fix

Fix typecheck
  apps/api/src/controllers/base.controller.ts
  apps/api/src/db/schemas/index.ts
  apps/api/src/services/base.service.ts
  apps/api/src/types/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss,sass})) or (any of: apps/*/package.json)) or (any of: package.json)
  eslint --fix: any of: *.{ts,tsx,js,jsx}
